    @font-face {
      font-family:Outfit ;
      src: url(assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
    }

    @font-face {
      font-family:YoungSerif;
      src: url(assets/fonts/young-serif/YoungSerif-Regular.ttf);
    }
    @media(min-width:375px) and (max-width:1440px) {

    }

    .attribution {
      font-size: 11px; text-align: center; 
      }

    .attribution a {
      color: hsl(228, 45%, 44%);
      }
    body {
        background-color: hsl(30, 54%, 90%);

      }      
    #wrapper {
      background-color:hsl(330, 100%, 98%);
      margin-inline: auto;
      border: 1px solid hsl(0, 0%, 100%);
      border-radius: 10px;
      padding: 15px;
      width: 500px;

    
      }
    hr {
        color:hsl(24, 5%, 18%) ;
      }
    li::marker {
        color:hsl(332, 51%, 32%);
      }



    .image-container {
        display: grid;
        grid-template-columns: column;
        margin-bottom: 10px;
        width: 470px;
        border-radius: 14px;
        padding: 10px;

      }
    h1 , h2 {
        font-family: YoungSerif, sans-serif;
        font-weight: 400;
      }
    h4 {
        font-family: Outfit,'Courier New', Courier, monospace;
      }
      
      p , li, th, td {
        font-family: Outfit, 'Times New Roman', Times, serif;
        font-weight: 400;

      }
      
    h2, h4 {
      color: hsl(332, 51%, 32%);


    }
    .preparation-card {
      background-color:hsl(30, 54%, 90%);
      padding-left: 20px;
      line-height: 20px;
    }
    th, td {
      border-bottom: 1px solid hsl(24, 5%, 18%);
    }